# {{ item.interface }} - {{ item.direction }} tunnel on {{ inventory_hostname }}
[Interface]
PrivateKey = {{ wg_private_key }}
Address = {{ item.local_ip }}/30
{% if item.direction == "inbound" %}
ListenPort = {{ wireguard_port }}
{% endif %}
{% if item.direction == "outbound" %}
Table = 42
{% if node_role == "entry" %}
PostUp = ip rule add iif tun0 table 42 priority 100
PostDown = ip rule del iif tun0 table 42 priority 100
{% elif node_role == "relay" %}
PostUp = ip rule add iif wg_in table 42 priority 100
PostDown = ip rule del iif wg_in table 42 priority 100
{% endif %}
{% endif %}

{% set peer_host = hostvars | dict2items | selectattr('value.ansible_host', 'defined') | selectattr('value.ansible_host', 'equalto', item.peer_public_ip) | map(attribute='key') | first %}
[Peer]
PublicKey = {{ hostvars[peer_host]['wg_public_key'] }}
{% if item.direction == "outbound" %}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ item.peer_public_ip }}:{{ wireguard_port }}
PersistentKeepalive = 25
{% else %}
AllowedIPs = {{ item.peer_ip }}/32, 10.8.0.0/24, {{ item.subnet }}
{% endif %}
